<div class="apply-hero text-center">
    <div class="title">
        <h1>

报名上课
        </h1>
    </div>

</div>

<div class="container apply">

    <div class="step">

        <%= render :partial => "steps/step_2_bar" %>

        <p class="step-desc">
            请认真详实填写报名表，您填写的详细程度将会决定报名录取优先顺位。
        </p>

        <%= simple_form_for @student , html: { class: 'form-horizontal' } , :wrapper => :horizontal_form do |f| %>

        <%= f.input :job, :label => "你现在的职业是"%>
        <%= f.input :location, :label => "你居住的地区是"%>
        <%= f.input :name, :label => " 你的姓名是"%>
        <%= f.input :phone, :label => "  联系电话"%>
        <%= f.input :wechat_account, :label => "微信号"%>
        <%= f.input :email, :label => " 一定会收的Email"%>

        <div class="form-group email required student_email">
            <div class="col-sm-2">
                <%= f.label :filepicker_url, "报名表上传（请确保一定要上传附件）" %>
            </div>
            <div class="col-sm-10">
                <%= f.filepicker_field :filepicker_url, :services => "COMPUTER, URL", :label => "报名表上传", dragdrop: true %>
            </div>
        </div>

        <div class="text-center">
            <%=   f.submit '送出', :class => 'btn btn-primary btn-lg', :disable_with => 'Please Wait...' %>
        </div>

        <% end %>

    </div>
</div>
