<div class="hero text-center">

    <div class="hero-title">
        <h1>脱胎换骨成为下一个想要的自己</h1>
    </div>
    <p>七年就是一辈子，两个月就能蜕变成能够编织自己未来旅程的全栈工程师</p>

    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <%= link_to("现在立刻报名", "#", :class => "btn btn-block btn-success btn-lg") %>
        </div>
    </div>

</div>
<div class="container">

    <%= render :partial => "block_1" %>
    <%= render :partial => "block_2" %>
    <%= render :partial => "block_3" %>
    <%= render :partial => "block_4" %>
    <%= render :partial => "block_5" %>
    <%= render :partial => "block_6" %>
    <%= render :partial => "block_7" %>
</div>
