<div class="overview-hero text-center"></div>

<div class="container overview">
    <div class="row">
        <div class="col-md-3 sidebar">
            <%= render :partial => "overview_sidebar" %>
        </div>
        <div class="col-md-9">
            <h2>

课程如何运作
            </h2>

            <p>
                八周的训练营将分为前三周（新兵营）与后五周（团队实战） 。
            </p>

            <p>
                前三周的授课重点：熟悉开发环境与技术工具，熟悉工程师日日面对的挑战环境与开发思路与节奏。
            </p>

            <p>
                后五周的授课重点： 着重同伴教育从无到有，团队如何从无到有，诞生，音高，打磨，协作，产品化「真实解决痛点的方案」并在协作的过程中整合，灵活应用。在这个过程中学到
                <ul>
                    <li>真实的「高效开发」</li>
                    <li>聚焦的「有效产品」</li>
                </ul>
            </p>

            <hr>

            <div class="overview-block">

                <h2>
                    Week 1 - Week 3
                </h2>

                <%= image_tag("DSCF6843.jpg", :width => 400 ) %>
                <%= image_tag("DSCF6738.jpg", :width => 400 ) %>

                <p>
                    <ul>
                        <li>Computation Thinking</li>
                        <li>自主项目管理</li>
                        <li>Rails 基础 API 熟练</li>
                        <li>HTML / CSS / JavaScript 基础知识</li>
                        <li>Rails 常见架构以及开发解题技能</li>
                        <li>Pair Programming</li>
                        <li>初阶单人实战项目开发</li>
                        <li>进阶单人实战项目开发</li>
                    </ul>

                </p>

                <p>
                    （周一到周四，学习与编程。周五小组分享会。）
                </p>

            </div>

            <hr>

            <div class="overview-block">

                <h2>
                    Week 4 - Week 8
                </h2>

                <%= image_tag("DSCF6886.jpg", :width => 250 ) %>

                <%= image_tag("DSCF7035.jpg", :width => 250 ) %>

                <%= image_tag("DSCF6924.jpg", :width => 250 ) %>
                <ul>
                    <li>挖掘真实需求、用户调研</li>
                    <li>Landing Page 与 Pitch                    </li>
                    <li>团队协作 ( Agile / Testing / Gitflow / Standup Meeting / Retrospetive Meeting )
                    </li>
                    <li>团队实战项目开发（五人协作）</li>
                    <li>API 整合、金流架构设计</li>
                    <li>金流介接、上线部署</li>
                    <li>产品最后一哩 Onboarding</li>
                    <li>开发最后一哩 Performace Tuning / Refactor</li>
                </ul>
                <p>
                    （周一到周四，项目开发。周五小组进度发表与学习分享会。）
                </p>

            </div>
        </div>
    </div>
</div>
