<div class="overview-hero text-center"></div>

<div class="container overview">
    <div class="row">
        <div class="col-md-3 col-xs-4">
            <%= render :partial => "overview_sidebar" %>
        </div>
        <div class="col-md-9 col-xs-8">
            <h2>
                課程如何運作
            </h2>

            <p>
                八週的訓練營將分為前三週（新兵營）與後五週（團隊實戰）。
            </p>

            <p>
                前三週的授課重點：熟悉開發環境與技術工具，熟悉工程師日日面對的挑戰環境與開發思路與節奏。
            </p>

            <p>
                後五週的授課重點：著重 Peer Education。從無到有，團隊如何從無到有，誕生、Pitch、打磨、協作、產品化「真實解決痛點的方案」。並在協作的過程中整合、靈活應用。 在這個過程中學到
                <ul>
                    <li>真實的「高效開發」</li>
                    <li>聚焦的「有效產品」</li>
                </ul>
            </p>

            <hr>

            <div class="overview-block">

                <h2>
                    Week 1 - Week 3
                </h2>

                <%= image_tag("DSCF6843.jpg", :width => 400 ) %>
                <%= image_tag("DSCF6738.jpg", :width => 400 ) %>

                <p>
                    <ul>
                        <li>Computation Thinking</li>
                        <li>自主項目管理</li>
                        <li>Rails 基礎 API 熟練</li>
                        <li>HTML / CSS / JavaScript 基礎知識</li>
                        <li>Rails 常見架構以及開發解題技能</li>
                        <li>Pair Programming</li>
                        <li>初階單人實戰項目開發</li>
                        <li>進階單人實戰項目開發</li>
                    </ul>

                </p>

                <p>
                    （週一到週四，學習與編程。週五小組分享會。）
                </p>

            </div>

            <hr>

            <div class="overview-block">

                <h2>
                    Week 4 - Week 8
                </h2>

                <%= image_tag("DSCF6886.jpg", :width => 250 ) %>

                <%= image_tag("DSCF7035.jpg", :width => 250 ) %>

                <%= image_tag("DSCF6924.jpg", :width => 250 ) %>
                <ul>
                    <li>挖掘真實需求、用戶調研</li>
                    <li>Landing Page 與 Pitch
                    </li>
                    <li>團隊協作 ( Agile / Testing / Gitflow / Standup Meeting / Retrospetive Meeting )
                    </li>
                    <li>團隊實戰項目開發（五人協作）</li>
                    <li>API 整合、金流架構設計</li>
                    <li>金流介接、上線部署</li>
                    <li>產品最後一哩 Onboarding</li>
                    <li>開發最後一哩 Performace Tuning / Refactor</li>
                </ul>
                <p>
                    （週一到週四，項目開發。週五小組進度發表與學習分享會。）
                </p>

            </div>
        </div>
    </div>
</div>
